<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.mapper.TreeSelectMapper">
    <resultMap id="tree" type="com.demo.model.TreeNode">
        <id property="id" column="id"/>
        <result property="nodename" column="nodename"/>
        <result property="pid" column="pid"/>
        <collection property="childs" column="id" ofType="com.demo.model.TreeNode" javaType="java.util.ArrayList" select="selectChild"/>
    </resultMap>


    <select id="selectAllTreeNode" resultType="com.demo.model.TreeNode">
        select * from treenodes
    </select>
    <select id="selectTree" resultMap="tree">
        select * from treenodes where id = #{rootId}
    </select>
    <select id="selectNode" resultType="com.demo.model.TreeNode">
        select * from treenodes where id = #{id}
    </select>
    <select id="selectChild" resultMap="tree">
        select * from treenodes where id = #{id}
    </select>
</mapper>